/*===================================================================================*/
/*====================================로그인페이지====================================*/
/*===================================================================================*/
.loginPageArea {
    width:100%; max-width: 480px; margin:0 auto; position:relative; padding-top:10px;
    @include media ('mobile') {
        width:90.75%; margin:4rem auto 0; 
    }
    .logTitle {
        font-size:32px; margin-bottom:56px; color:var(--txt-black); font-weight:700; line-height:45px; letter-spacing:-0.8px; text-align:center;
        @include media ('mobile') {
            font-size:2rem; margin-bottom:3rem;
        }
    }

    .cptForm {
        display:flex; flex-flow:column; justify-content: flex-start; gap:16px; margin-bottom:40px;
        @include media ('mobile') {
            margin-bottom:2rem;
        }
        .memberOpt {
            display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
            > .memberFunc {
                > ul {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
                    > li {
                        position:relative;
                        > a {display:block; font-size:16px; color:var(--txt-gray02); font-weight:400; line-height:22px; letter-spacing:-0.4px;}

                        &:first-of-type {
                            padding-right:16px; margin-right:16px;
                            &::after {content:''; position:absolute; top:50%; right:0; width:1px; height:16px; background:var(--txt-gray02); transform:translateY(-50%);}
                        }
                    }
                }
            }
        }
    }

    .cptBtnForm {
        display:flex; flex-flow: column; align-items: center; justify-content: flex-start; gap:16px;
    }

    .socialLogin {
        margin-top: 50px; width:100%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:128px;
        > a {
            display:block; position:relative;
            > span.icon {
                display:block; width:64px; height:64px; margin:0 auto 8px; background:url(../../images/common/ico_kakao.svg)50% 50% no-repeat;
            }

            &:last-of-type {
                > span.icon {background:url(../../images/common/ico_naver.svg)50% 50% no-repeat;}
            }

            > span:last-of-type {
                font-size:14px; color:var(--txt-gray01);
            }
        }
    }
}

/*====================================================================================*/
/*==================================== 나 의 광 고 ====================================*/
/*====================================================================================*/
.myAdCover {

    .uploadRule {
        width:100%; position:relative; margin-top:56px; padding: 40px; background:var(--txt-gray05); border-radius:24px; margin-bottom:40px;

        > .ruleTitle {
            position:relative; padding-left:56px; font-size:18px; color:var(--prm-color); font-weight:500; line-height:36px; margin-bottom:26px;
            &::after {
                content:''; position:absolute; width:40px; height:40px; background: url(../../images/common/ico_alert.svg)50% 50% no-repeat; top:50%; left:0; transform:translateY(-50%);
            }
            @include media ('tablet'){
                width: max-content; margin:0 auto 26px;
            }
        }

        > .ruleList {
            width:100%; border-top:1px solid var(--txt-gray04); padding-top:25px; display:flex; flex-flow:row wrap; align-items: center; justify-content: flex-start;
            @include media ('tablet'){
                flex-flow:column;
            }
            > li {
                width:50%; position:relative; display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; margin-bottom:26px;
                &:last-of-type {margin-bottom:0;}
                @include media ('tablet'){
                    width:100%;
                }

                > span.ico {
                    display:block; width:24px; height:24px; margin-right:4px; background:url(../../images/common/ico_bullet_off.svg)50% 50% no-repeat;
                    &.fin {background:url(../../images/common/ico_bullet_on.svg)50% 50% no-repeat;}
                    &.err {background:url(../../images/common/ico_bullet_err.svg)50% 50% no-repeat;}
                }
                > span.tit {
                    display:block; min-width:43px; font-size:16px; color:var(--txt-gray01); font-weight:400; line-height:24px; margin-right:24px;
                }
                > span.desc {
                    display:block; font-size:16px; color:var(--txt-gray02); font-weight:400; line-height:24px;
                    @include media ('tablet'){
                        word-break:keep-all;
                    }
                }
            }
        }
    }

    .uploadProgressArea {
        width:100%; position:relative;

        > .cptBtnForm {
            width:320px; margin:0 auto;

            > .infoTxt {
                margin-top:16px; text-align:center; font-size:14px; font-weight:400; line-height:20px; color:var(--txt-black);
                
                &.warning {
                    color:var(--snd-color);
                }
            }
        }

        > .progressArea {
            position:relative; width:100%; max-width:900px; margin:80px auto 0; background:var(--txt-gray04); height:4px; border-radius:24px;
            @include media ('tablet'){
                max-width:50%;
            }

            > .bar {
                position:absolute; top:0; left:0; height:4px; border-radius:24px; background:var(--prm-color); animation:progress 3s linear; animation-fill-mode:forwards;
            }

            > .balloon {
                position:absolute; width:max-content; top:- 40px; left:0; margin-left:-44px; padding:0 12px; border:1px solid var(--prm-color); animation:balloon 3s linear; animation-fill-mode:forwards; font-size:14px; color:var(--prm-color); border-radius:5px; line-height:27px; font-weight:500;
                &::before {content:''; position:absolute; top:27px; left:34px; border-top:7px solid var(--clr-white); border-left:6px solid transparent; border-right:7px solid transparent; border-bottom:0px solid transparent; z-index:3;}
                &::after {content:''; position:absolute; top:27px; left:32px; border-top:8px solid var(--prm-color); border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:0px solid transparent; z-index:2;}
                @include media ('tablet'){
                    left:50%; margin-left:0; transform:translateX(-50%); animation:none;
                }
            }

            @keyframes progress{
                from{
                    width:0;
                }to{
                    width:100%;
                }
            }

            @keyframes balloon{
                from{
                    left:0;
                }to{
                    left:900px
                }
            }
        }
    }
}