
/*메인 공통*/
p.mcTit {
    font-size:40px; color:var(--txt-black); font-weight:bold; line-height:56px; text-align:center; margin-bottom:24px;

    &.wht {color:var(--clr-white);}
}

p.mcSubTit {
    font-size:24px; color: var(--txt-gray02); font-weight:400; line-height:34px; text-align:center; margin-bottom:56px;

    &.wht {color: var(--clr-white);}

    &.type02 {
        font-size:18px;
    }
}

/*메인 컨텐츠 01번 구역*/
.mainCont01 {
    width:100%; position:relative; overflow-x:hidden;

    .swiper-slide {
        img {width:100%;}
    }
    .swiper-pagination {
        width:max-content; bottom:32px; left:50%; transform:translateX(-50%); margin-left:-542px;
        @include media ('main01'){
            margin-left:0;
        }
        > .swiper-pagination-bullet {
            width:6px; height:6px;
        }
        > .swiper-pagination-bullet-active {
            width:48px; height:6px; border-radius:6px; background:rgba(0,0,0,0.2); position:relative; overflow:hidden;
            &::after {
                content:''; position:absolute; top:0; left:0; width:0; height:6px; background:var(--txt-black); animation: swSlide 3s linear; z-index:9;
            }
        }

        @keyframes swSlide {
            0% {
                width:0;
            }
            100% {
                width:48px;
            }
        }
    }

    .swiper-button-prev {
        width:64px; height:64px; background:url(../../images/main/ico_slider_arr_lt.svg) 50% 50% no-repeat;
        &::after {display:none;}
        left:300px;
        @include media ('main01'){
            left:150px;
        }
    }

    .swiper-button-next {
        width:64px; height:64px; background:url(../../images/common/ico_slider_arr_rt.svg) 50% 50% no-repeat;
        &::after {display:none;}
        right:300px;
        @include media ('main01'){
            right:150px;
        }
    }
}

/*메인 컨텐츠 02번 구역*/
.mainCont02 {
    margin:120px 0 ;

    .tempArea {
        width:100%; height:644px; background: var(--snd-color); opacity:0.1;
    }
}

/*메인 컨텐츠 03번 구역*/
.mainCont03 {
    padding:0 40px;
    .mcInner {
        position:relative; width:100%; background:var(--prm-color); padding:90px 348px; border-radius:24px;
        @include media ('main01'){
            padding:60px 148px;
        }
        > ul.conflictBox {
            display:flex; flex-flow:column; -webkit-box-orient: vertical; -webkit-box-direction:normal; margin:56px auto 0; 

            > li.item {
                position:sticky; height:370px; background:var(--clr-white); border-radius:24px; margin-bottom:30px; box-shadow:0px 4px 20px 0px rgba(0,0,0,0.08);
                &::after {padding-bottom:40%;}
                &:first-of-type {z-index:2; bottom:150px;}
                &:nth-of-type(2) {z-index:1; bottom:80px;}
                &:last-of-type {bottom:40px;}

                display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between; padding: 0 180px 0 120px;

                @include media ('main01'){
                    padding: 0 80px;
                }

                > .copyArea {
                    width:calc(100% - 240px);
                    p.tit {font-size:32px; color:var(--txt-black); font-weight:500; line-height:45px; letter-spacing:-0.8px;}
                    p.desc {
                        margin-top:24px; font-size:18px; color:var(--txt-gray02); font-weight:400; line-height:26px; letter-spacing:-0.45px;
                    }
                }

                > .imgArea {width:240px;}
            }
        }
    }
}

/*메인 컨텐츠 04번 구역*/
.mainCont04 {
    width:100%; margin:150px auto; padding-left:290px;
    .mcInner {
        .slideTitle {
            width:100%; max-width:1320px; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; position:relative;

            > p.mcTit {text-align:left;}

            > .swiper-button {
                display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:10px;
                > a {
                    display:block; width:40px; height:40px; background:url(../../images/main/adSlideArr_off.svg) 50% 50% no-repeat;
                    &::after {display:none;}
                    &:hover {background:url(../../images/main/adSlideArr_on.svg) 50% 50% no-repeat;}
                }
                .swiper-button-prev02 {
                    &:hover{transform:rotate(180deg);}
                }

                .swiper-button-next02 {
                    transform:rotate(180deg);   
                    &:hover{transform:rotate(0deg);}
                }
            }
        }
        .adVisual {
            .swiper-wrapper {
                .swiper-slide {
                    position:relative; overflow:hidden; border-radius:24px; width:max-content; margin-right:30px;

                    > a {
                        display:block; width:100%; height:100%; position:relative; z-index:4; transition:transform 0.4s;

                        > img {position:relative; z-index:2; transition:transform 0.4s;}
                        
                        &::after {
                            content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.45); z-index:3;
                        }

                        .slideInfoArea {
                            position:absolute; bottom:48px; left:24px; z-index:6;

                            > .jobType {
                                display:block; font-size:16px; color:var(--clr-white); font-weight:bold; line-height:22px; letter-spacing:-0.4px;
                            }

                            > .videoTitle {
                                display:block; font-size:24px; color:var(--clr-white); font-weight:bold; line-height:32px; letter-spacing:-0.6px; margin-top:8px; word-break:keep-all; width:170px;
                            }
                        }
                    }
                    &:hover {
                        > a {
                            > img {transform: scale(1.1);}
                            &::after {
                                background:rgba(0,0,0,0.30);
                            }   
                        }
                    }
                }
            }
        }    
    }
}

/*메인 컨텐츠 05번 구역*/
.mainCont05 {
    width:100%; max-width:1320px; margin:0 auto 150px; position:relative;

    > .mcInner {
        position:relative; display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:0;

        > .leftCont {
            width:300px; 
            > .tit {font-size:32px; color:var(--txt-black); font-weight:bold; line-height:45px; letter-spacing:-0.8px;}
            > .mcSubTit {text-align:left; margin:24px 0 40px;}
            > .more {
                display:inline-block; width:max-content; padding: 0 16px; height:40px; line-height:40px; font-size:16px; color:var(--txt-gray02); font-weight:500; border-radius:8px; border:1px solid var(--txt-gray04);
                &:hover {
                    border:1px solid var(--prm-color); color:var(--prm-color);
                }
            }
        }

        > .rightCont {
            width:calc(100% - 300px); position:relative;

            > ul {
                display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:20px;

                > li {
                    padding:30px 17px; border-radius:24px; background:var(--txt-gray05); min-width:240px; min-height:324px;

                    > .topArea {
                        display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between; margin-bottom:16px;
                        > p {
                            font-size:16px; color:var(--txt-black); font-weight:bold;
                        }
                        > a {
                            font-size:16px; color:var(--txt-gray01); font-weight:400; position:relative; padding-right:8px;
                            &::after {
                                content:''; position:absolute; top:50%; right:0; width:4px; height:7px; background:url(../../images/common/ico_arr03.svg)50% 50% no-repeat; transform:translateY(-50%);
                            }
                        }
                    }

                    > .midArea {
                        margin-bottom:40px;
                        > p {
                            font-size:16px; color:var(--txt-black); font-weight:500; word-break:keep-all;
                        }
                    }

                    > .botArea {
                        > .ico {
                            display:block; width:24px; height:24px; background:url(../../images/common/ico_balloon.svg)50% 50% no-repeat; margin-bottom:8px;
                        }
                        > p {
                            font-size:16px; color:var(--txt-gray02); font-weight:400; line-height:22px; letter-spacing:-0.4px;
                            overflow:hidden; display:-webkit-box; -webkit-line-clamp: 5; -webkit-box-orient:vertical;
                        }
                    }
                }
            }
        }
    }
}

/*메인 컨텐츠 06번 구역*/
.mainCont06 {
    width:100%; position:relative; background: var(--txt-gray05); height:460px; overflow:hidden;

    .mcInner {
        > span {
            position:absolute; background-size:100% 100%;
            &.obj01 {
                width:337px; height:308px; right:55px; top:-88px; background:url(../../images/main/obj1.png)0 0 no-repeat;
            }
            &.obj02 {
               width:57px; height:58px; top:55px; left:61px; background:url(../../images/main/obj2.png)0 0 no-repeat;
            }
            &.obj03 {
                width:70px; height:70px; top:244px; left:443px; background:url(../../images/main/obj3.png)0 0 no-repeat;
            }
            &.obj04 {
                width:104px; height:96px; bottom:51px; left:145px; background:url(../../images/main/obj4.png)0 0 no-repeat; z-index:2;
            }
            &.obj05 {
                width:374px; height:385px; bottom:-286px; left:96px; background:url(../../images/main/obj5.png)0 0 no-repeat; z-index:1;
            }
            &.obj06 {
                width:89px; height:91px; bottom:39px; right:300px; background:url(../../images/main/obj6.png)0 0 no-repeat;
            }
        }

        .mcTit {margin-top:112px; margin-bottom:40px; position:relative; z-index:3;}
        .cptBtnForm {
            width:240px; margin:0 auto; position:relative; z-index:3;
        }
    }
}