/* 메인 */
.lytMain{
    background: var(--txt-black); color: var(--clr-white); position: relative;
    .section{
        overflow: hidden;

        /* 공통 */
        .mainSubTitle{
            padding-top: 160px; word-wrap: keep-all;
            @include media ('tablet') {
                padding-top: 100px;
            }
        }
        .btnWrap{
            display: flex; align-items: center; justify-content: center; margin-top: 100px;
            @include media ('tablet') {
                margin-top: 50px;
            }
            .button{
                display: inline-block; margin: 0; border: 0 none; outline: none; text-decoration: none; cursor: pointer; -webkit-mask-image: -webkit-radial-gradient(var(--clr-white), var(--txt-black)); font-weight: 700; font-size: 20px; line-height: 1; text-align: left; padding: 20px 60px; position: relative; background-color: var(--clr-white); border-radius: 50px; transition: color .3s cubic-bezier(.25,.46,.45,.94); overflow: hidden; color: var(--txt-black); text-align: center;
                @include media ('tablet') {
                    font-size: 18px;
                }
                &:hover{
                    color: var(--clr-white);
                    .btnOverlay::after {
                        transform: scale(2.5);
                    }
                }
                &::before{
                    content: ""; position: absolute; top: 100%; left: 0; background-color: var(--clr-white); border-radius: 50%;
                }
                .btnOverlay{
                    position: relative; height: auto; width: 100%; position: absolute; top: 100%; right: 100%;                            
                    &::before{
                        content: "";  display: block; padding-top: 100%
                    }
                    &::after{
                        content: ""; position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; transition: transform .5s cubic-bezier(.25,.46,.45,.94); background-color: var(--prm-color); border-radius: 50%; transform: scale(1); transform-origin: bottom left;
                    }
                }
                .btnTxt{
                    display: inline-block; position: relative;
                }
            }
        }

        /* 메인1 */
        &.cptMain1{
            background: url(../../images/video/videoTmp.png); width: 100vw; height: 100vh; position: relative; background-size: cover;
            @include media ('tablet') {
                background-position: 50% 50%;
            }
            .mainTitle{
                position: absolute; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); z-index: 99; color: var(--clr-white); display: flex; justify-content: center; flex-direction: column; width: 100%; padding: 0 15px;
                h2{
                    font-size: 55px; font-weight: 500; text-align: center; margin-bottom: 35px; word-wrap: keep-all;  
                    @include media ('tablet') {
                        font-size: 44px; width: 390px; margin: 0 auto;
                    }
                    @include media ('mobile') {
                        font-size: 36px; width: 310px;
                    }
                }
                h3{
                    font-size: 25px; font-weight: 400; text-align: center; word-wrap: keep-all;
                    @include media ('tablet') {
                        font-size: 26px; width: 380px; margin: 30px auto;
                    }
                    @include media ('mobile') {
                        font-size: 22px; width: 320px;
                    }
                }
            }
            .mouse{
                position: absolute; width: 22px; height: 42px; bottom: 40px; left: 50%; margin-left: -12px; border-radius: 15px; border: 2px solid rgba(255,255,255, 0.8); -webkit-animation: intro 1s; animation: intro 1s;
                @include media ('tablet') {
                    display: none;
                }
                .scroll{
                    display: block; width: 3px; height: 3px; margin: 6px auto; border-radius: 4px; background: rgba(255,255,255, 0.8); -webkit-animation: finger 1s infinite; animation: finger 1s infinite;
                  }
              }
    
        }
    
        /* 메인2 */
        &.cptMain2{
            &::before{
                content: ''; display: block; z-index: 9999; opacity: .4; position: absolute; left: -800px; top: 100px; transform: rotate(144deg); background: linear-gradient(270deg, #9643FF 38%, #43B0FF 50%, rgba(72, 184, 236, 0.9) 74%, rgba(116, 255, 67, 0) 120%); width: 1115px; height: 575px; filter: blur(160px);
            }
            &::after{
                content: ''; display: block; z-index: 9999; opacity: .4; position: absolute; right: -1000px; top: 300px; transform: rotate(144deg); background: linear-gradient(270deg, #9643FF 38%, #43B0FF 50%, rgba(72, 184, 236, 0.9) 74%, rgba(116, 255, 67, 0) 120%); width: 1115px; height: 575px; filter: blur(160px);
            }
            .mainSubTitle{
                text-align: center; margin: 0 auto; color: var(--clr-white); font-size: 65px; font-weight: 700;
                @include media ('tablet') {
                    font-size: 32px;
                }
                .top{
                    display: inline-block; padding-bottom: 20px;
                }
                /* 슬롯 효과 */
                .slotJs{
                    display: grid; position: relative; padding-left: 70px; max-width: 560px; margin: 0 auto;
                    @include media ('tablet') {
                        padding-left: 50px; max-width: 330px;
                    }
                    li{
                        grid-row-start: 1; grid-column-start: 1; opacity: 0; transform: translateY(100%); font-weight: 800; transition: transform .5s ease-in-out, opacity .5s ease-in-out; display: flex; align-items: center; gap: 5px; justify-content: space-between;
                        img{
                            @include media ('tablet') {
                                width: 60px; transform: translateY(-20px);
                            }
                        }
                        &:has(+ .slotSelected){
                            transform: translateY(100%); opacity: 0;
                        }
                        &.slotSelected{
                            transform: translateY(0); opacity: 1;
                        }
                    }
                    &:has(:nth-child(3)){
                        .reiniciar{
                            transform: translateY(0); opacity: 1;
                        }
                    }
                    &::before{
                        content: '('; display: block; position: absolute; left: 15px;
                    }
                    &::after{
                        content: ') 무엇인가요?'; display: block; position: absolute; right: 20px;
                    }
                }
            }
            /* 슬라이드 무한 루프 */
            .swiperLoop{
                position: relative; margin-top: 100px; overflow-x: unset; overflow-y: unset;
                @include media ('tablet') {
                    margin-top: 50px;
                }
                .swiper-wrapper{
                    transition-timing-function: linear !important; position: relative; z-index: 99;
                    .swiper-slide{
                        width: auto; background: #1f2327; padding: 50px 40px; border-radius: 30px; height: 320px; width: 420px; cursor: pointer; transition: all 0.3s 0s ease;
                        @include media ('tablet') {
                            padding: 30px 20px; width: 300px; height: 240px;
                        }
                        .topTitle{
                            font-size: 30px; color: #fff; letter-spacing: -1px; word-break: keep-all; margin-bottom: 40px; line-height: 1.3; font-weight: 700;
                            @include media ('tablet') {
                                font-size: 22px;
                            }
                        }
                        .midTitle{
                            font-size: 25px; color: #8b91a8; word-break: keep-all; line-height: 1.3; font-weight: 500;
                            @include media ('tablet') {
                                font-size: 20px;
                            }
                        }
                        &:hover{
                            transform: translateY(10px);
                        }
                    }
                }
            }
        }
    
        /* 메인3 */
        &.cptMain3{
            .mainArea{
                max-width: 1320px; margin: 0 auto; position: relative;
                @include media ('tablet') {
                    padding: 0 15px;
                }
                .mainSubTitle{
                    width: 100%; margin-top: 160px;
                    @include media ('tablet') {
                        width: 100%; 
                    }
                    .txtLeft{
                        color: var(--clr-white); font-size: 65px; font-weight: 700; position: absolute; left: 0; top: 90px;
                        @include media ('tablet') {
                            font-size: 40px; top: 60px;
                        }
                    }
                    .txtImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .txtRight{
                        color: var(--clr-white); font-size: 65px; font-weight: 700; opacity: 0.3; position: absolute; right: 0; bottom: 130px;
                        @include media ('tablet') {
                            font-size: 40px; bottom: 140px;
                        }
                    }
                    .txtBottom{
                        font-size: 33px; font-weight: 500; text-align: right; margin-top: 100px; word-break: keep-all;
                        @include media ('tablet') {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    
        /* 메인4 */
        &.cptMain4{
            &::before{
                content: ''; display: block; z-index: 9999; opacity: .4; position: absolute; left: -900px; top: 100px; transform: rotate(144deg); background: linear-gradient(270deg, #9643FF 38%, #43B0FF 50%, rgba(72, 184, 236, 0.9) 74%, rgba(116, 255, 67, 0) 120%); width: 1115px; height: 575px; filter: blur(160px);
            }
            &.active{

                /* 계산기 애니메이션 */
                .rect1{
                    animation: forwards rect1 1s 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards rect1 1s 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }
                .rect2{
                    animation: forwards rect2 0.5s 1s cubic-bezier(0.4, 0, 0.2, 1); -webkit-animation: forwards rect2 0.5s 1s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .rect3{
                    animation: forwards rect3 0.5s 1s cubic-bezier(0.4, 0, 0.2, 1); -webkit-animation: forwards rect3 0.5s 1s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .rect4{
                    animation: forwards rect4 0.5s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards rect4 0.5s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }

                /* 지도 애니메이션 */
                .cir1{
                    animation: forwards circle1 0.5s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards circle1 0.5s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }
                .cir2{
                    animation: forwards circle2 1s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards circle2 1s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }
                .cir3{
                    animation: forwards circle3 1.8s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards circle3 1.8s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }

                /* 지도 베이스 애니메이션 */
                .imgBase{
                    opacity: 0; animation: forwards base 0.5s 0.5s ease;
                }

                /* 음악 애니메이션 */
                .music{
                    animation: forwards music 0.7s 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55); -webkit-animation: forwards music 0.7s 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }
            }
            .mainArea{
                max-width: 1320px; margin: 0 auto;
                .mainSubTitle{
                    text-align: center; margin: 0 auto; padding-top: 100px;
                    p{
                        margin-bottom: 20px;
                        img{
                            text-align: center; margin: 0 auto;
                            @include media ('tablet') {
                                width: 50px;
                            }
                        }
                    }
                    h3{
                        font-size: 65px; font-weight: 700; word-break: keep-all;
                        @include media ('tablet') {
                            font-size: 32px;
                        }
                        @include media ('mobile') {
                            width: 240px; margin: 0 auto;
                        }
                    }
                }
                .mainList{
                    display: flex; justify-content: space-between; gap: 30px; margin-top: 70px;
                    @include media ('tablet') {
                        padding: 0 15px; flex-direction: column; gap: 15px;
                    }
                    > li{ 
                        background: #1b1c1d; width: 33.333%; height: 430px; border-radius: 30px; 
                        @include media ('tablet') {
                            width: 100%; height: auto;
                        }
                        > ul{
                            display: flex; flex-direction: column; height: 100%; padding: 40px; position: relative; overflow: hidden;
                            @include media ('tablet') {
                                padding: 20px 40px;
                            }
                            > li{
                                &.txtSmall{
                                    font-size: 14px;
                                }
                                &.txtBig{
                                    font-size: 30px; font-weight: 700; margin: 20px 0;
                                    @include media ('tablet') {
                                        font-size: 22px; margin-top: 20px; margin-bottom: 0;
                                    }
                                }
                                &.txtExtra{
                                    font-size: 16px; color: #8b91a8;
                                }
                                &.txtImg{
                                    margin: 0 0 0 auto; padding-top: 30px; position: absolute; bottom: 40px; right: 40px; 
                                    /* 지도 베이스 애니메이션 */
                                    .imgBase{
                                        @include media ('tablet') {
                                            position: absolute; bottom: -80px; right: 0;
                                        }
                                        @include media ('mobile') {
                                            display: none; 
                                        }
                                    }
                                    > ul{
                                        &.rectWrap{
                                            /* 계산기 애니메이션 */
                                            .rect1{
                                                @include media ('tablet') {
                                                    right: 55px; bottom: 35px;
                                                    img{
                                                        width: 50px;
                                                    }
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                            .rect2{
                                                @include media ('tablet') {
                                                    right: 0px; bottom: 35px;
                                                    img{
                                                        width: 50px;
                                                    }
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                            .rect3{
                                                @include media ('tablet') {
                                                    right: 55px; bottom: -20px;
                                                    img{
                                                        width: 50px;
                                                    }
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                            .rect4{
                                                @include media ('tablet') {
                                                    right: 0px; bottom: -20px;
                                                    img{
                                                        width: 50px;
                                                    }
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.cirWrap{
                                            /* 지도 애니메이션 */
                                            .cir1{
                                                @include media ('tablet') {
                                                    left: -260px; top: 10px;
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                            .cir2{
                                                @include media ('tablet') {
                                                    left: -150px; top: -60px;
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                            .cir3{
                                                @include media ('tablet') {
                                                    left: -70px; top: -10px;
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.musicWrap{
                                            /* 음악 애니메이션 */
                                            .music{
                                                @include media ('tablet') {
                                                    right: 0; bottom: 0; 
                                                }
                                                @include media ('mobile') {
                                                    display: none;
                                                }
                                            }
                                        }
                                        > li{
                                            position: absolute; opacity: 0;
                                            @include media ('tablet') {
                                                animation: unset; opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            background: var(--prm-color);
                        }
                    }
                }
            }
        }

        /* 메인5 */
        &.cptMain5{
            &::before{
                content: ''; display: block; z-index: 9999; opacity: .4; position: absolute; left: -1100px; top: 300px; transform: rotate(0deg); background: linear-gradient(270deg, #9643FF 38%, #43B0FF 50%, rgba(72, 184, 236, 0.9) 74%, rgba(116, 255, 67, 0) 120%); width: 1115px; height: 575px; filter: blur(160px);
            }
            .mainSubTitle{
                text-align: center; padding-top: 100px;
                p{
                    font-size: 30px; font-weight: 500; color: var(--prm-color); margin-bottom: 10px;
                    @include media ('tablet') {
                        font-size: 24px;
                    }
                }
                h3{
                    font-size: 45px; font-weight: 700; color: var(--clr-white);
                    @include media ('tablet') {
                        font-size: 32px; width: 370px; margin: 0 auto;
                    }
                }
            }
            /* 탭메뉴 */
            .mainTab{
                margin-top: 30px;
                .tabInner{
                    margin-bottom: 40px;
                    .tabMenu{
                        justify-content: center;
                        @include media ('tablet') {
                            width: 100%;
                        }
                        .tabItem{
                            .tabName{
                                border: 1px solid var(--clr-white); color: var(--clr-white); background: transparent;
                                &.active{
                                    background: var(--clr-white); color: var(--txt-black);
                                }
                                @include media ('tablet') {
                                    font-size: 16px; padding: 8px 12px;
                                }
                            }
                        }
                    }
                }
                /* 탭메뉴 슬라이드 */
                .tabSwiper{
                    display: flex; overflow: unset;
                    @include media ('tablet') {
                        margin: 0 20px;
                    }
                    .swiper-wrapper{
                        max-width: 1320px; margin-left: -400px;
                        @include media ('tablet') {
                            margin-left: 0;
                        }
                        .swiper-slide{
                            text-align: center; display: flex; justify-content: center; align-items: center; width: 350px; height: 450px;
                            .swiperImg{
                                width: 100%; height: 100%; border-radius: 30px; position: relative;
                                img{
                                    display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 30px;
                                }
                                .txtBox{
                                    position: absolute; left: 0; bottom: 0; padding: 30px;
                                    p{
                                        text-align: left;
                                        &:nth-child(1){
                                            font-size: 20px; margin-bottom: 10px;
                                            @include media ('tablet') {
                                                font-size: 18px;
                                            }
                                        }
                                        &:nth-child(2){
                                            font-size: 32px; font-weight: 700; line-height: 1.3;
                                            @include media ('tablet') {
                                                font-size: 26px;
                                            }
                                        }
                                    }
                                }
                            }
                            @include media ('tablet') {
                                width: 250px; height: 320px;
                            }
                        }
                    }
                    .btnNext{
                        position: absolute; right: 350px; bottom: -70px; top: inherit; background: url(../../images/main/ico_arrRight.png); width: 51px; height: 51px; cursor: pointer; transition: all 0.3s ease;
                        &::after{
                            display: none;
                        }
                        &:hover{
                            opacity: 0.5;
                        }
                        @include media ('tablet') {
                            right: 0;
                        }
                    }
                    .btnPrev{
                        position: absolute; right: 490px; bottom: -70px; top: inherit; left: inherit;  background: url(../../images/main/ico_arrLeft.png); width: 51px; height: 51px; cursor: pointer; transition: all 0.3s ease;
                        &::after{
                            display: none;
                        }
                        &:hover{
                            opacity: 0.5;
                        }
                        @include media ('tablet') {
                            right: 120px;
                        }
                    }
                    .btnPause{
                        position: absolute; right: 280px; bottom: -70px; top: inherit; background: url(../../images/main/ico_pause.png); width: 50px; height: 50px; cursor: pointer; transition: all 0.3s ease; background-size: cover;
                        &:hover{
                            opacity: 0.5;
                        }
                        @include media ('tablet') {
                            right: 60px;
                        }
                    }
                    .btnStart{
                        position: absolute; right: 280px; bottom: -70px; top: inherit; background: url(../../images/main/ico_start.png); width: 50px; height: 50px; cursor: pointer; transition: all 0.3s ease;  background-size: cover;
                        &:hover{
                            opacity: 0.5;
                        }
                    }
                    .swiper-pagination-fraction{
                        position: absolute; right: 420px; bottom: -62px; top: inherit; left: inherit; width: auto; text-align: right; font-size: 25px;
                        @include media ('tablet') {
                            right: 190px; font-size: 16px;
                        }
                    }
                }
            }
        }

        /* 메인6 */
        &.cptMain6{
            .mainArea{
                max-width: 1320px; margin: 0 auto;
                .mainSubTitle{
                    padding-top: 100px;
                    h3{
                        font-size: 45px; font-weight: 700; margin-bottom: 50px;
                        @include media ('tablet') {
                            text-align: center; font-size: 32px;
                        }
                    }
                }
                /* 이벤트 슬라이드 */
                .eventSwiper{
                    width: 100%; height: 380px; border-radius: 30px; 
                    @include media ('tablet') {
                        border-radius: 0;
                    }
                    @include media ('mobile') {
                        height: 280px;
                    }
                    .swiper-wrapper{
                        overflow: unset;
                        .swiper-slide{
                            .swiperCont{
                                position: relative;
                                @include media ('tablet') {
                                    height: 100%;
                                }
                                .swiperImg{
                                    width: 100%; height: 100%; 
                                }
                                .swiperTxt{
                                    position: absolute; left: 0; top: 0; padding: 100px;
                                    @include media ('tablet') {
                                        padding: 50px;
                                    }
                                    p{
                                        font-size: 25px; margin-bottom: 25px;
                                        @include media ('tablet') {
                                            font-size: 20px;
                                        }
                                    }
                                    h4{
                                        font-size: 37px;
                                        @include media ('tablet') {
                                            font-size: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .swiper-button-next{
                        &::after{
                            color: var(--clr-white);
                        }
                    }
                    .swiper-button-prev{
                        &::after{
                            color: var(--clr-white);
                        }
                    }
                    .swiper-pagination{
                        width: 200px !important; bottom: 20px;
                        .swiper-pagination-bullet{
                            width: 13px !important; height: 13px !important; border-radius: 50%; background: rgba(255,255,255, 0.9); margin: 0 2px;
                            &::after{
                                color: var(--clr-white);
                            }
                        }
                        .swiper-pagination-bullet-active{
                            width: 40px !important; height: 11px !important; border-radius: 7px; background: var(--clr-white);
                        }
                    }
                }
            }
            .mainBg{
                background: #5e34fc; position: absolute; left: 0; bottom: 0; width: 100%; height: 180px; 
                @include media ('tablet') {
                    padding: 20px; position: unset;
                }
                .mainBgArea{
                    max-width: 1320px; height: 100%; margin: 0 auto; padding: 0 20px; display: flex; align-items: center; justify-content: space-between;
                    @include media ('tablet') {
                        flex-direction: column; justify-content: flex-start; align-items: flex-start;
                    }
                    .left{
                        .leftTop{
                            font-size: 45px; font-weight: 700;
                            @include media ('tablet') {
                                font-size: 32px;
                            }
                            @include media ('mobile') {
                                font-size: 30px;
                            }
                        }
                        .leftMid{
                            font-size: 30px; font-weight: 400;
                            @include media ('tablet') {
                                font-size: 22px; margin-bottom: 20px;
                            }
                            @include media ('mobile') {
                                font-size: 20px;
                            }
                        }
                    }
                    .right{
                        display: flex;
                        > div{
                            margin-left: 20px; margin-top: 0;
                            @include media ('tablet') {
                                margin-left: 0; font-size: 16px;
                            }
                            &:first-child{
                                margin-right: 20px;
                            }
                        }
                        .btnWrap{
                            .button{
                                font-size: 15px; padding: 14px 30px;
                            }
                        }
                    }
                }
            }
        } 
    
    }
}

/* 애니메이션 */

/* 버튼 hover 애니메이션 */
@keyframes run {
    30%{letter-spacing:60px;}
    50%{text-shadow: 400px 0 0 rgba(0, 0, 0, 0);}
    51%{text-shadow: -400px 0 0 rgba(0, 0, 0, 0); letter-spacing:30px; }
    85% { letter-spacing:1px;}
    90% { text-shadow: 10px  0 0 var(--txt-black);}
} 
@-webkit-keyframes run {
    0%{text-shadow: 0px  0 0 #fff;}
    30%{letter-spacing:60px;}
    50%{text-shadow: 400px 0 0 rgba(0, 0, 0, 0);}
    51%{text-shadow: -400px 0 0 rgba(0, 0, 0, 0); letter-spacing:30px; }
    85%{letter-spacing:1px;}
    90%{text-shadow: 10px  0 0 var(--txt-black);}
}

/* 음악 애니메이션 */
@keyframes music {
    0% {
        opacity: 0;
        right: -250px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}
@-webkit-keyframes music {
    0% {
        opacity: 0;
        right: -200px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}


/* 계산기 애니메이션 */
@keyframes rect1 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 85px;
    }
    100% {
        opacity: 1;
        right: 85px;
        bottom: 85px;
    }
}
@-webkit-keyframes rect1 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 85px;
    }
    100% {
        opacity: 1;
        right: 85px;
        bottom: 85px;
    }
}

@keyframes rect2 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 85px;
    }
}
@-webkit-keyframes rect2 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 85px;
    }
}

@keyframes rect3 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 85px;
        bottom: 0px;
    }
}
@-webkit-keyframes rect3 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        right: 85px;
        bottom: 0px;
    }
}

@keyframes rect4 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: -50px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}
@-webkit-keyframes rect4 {
    0% {
        opacity: 0;
        right: 0px;
        bottom: -50px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}

/* 지도 애니메이션 */
@-webkit-keyframes circle1 {
    0% {
        opacity: 0;
        left: 20px;
        top: 0px;
    }
    100% {
        opacity: 1;
        left: 20px;
        top: 100px;
    }
}
@keyframes circle1 {
    0% {
        opacity: 0;
        left: 20px;
        top: 0px;
    }
    100% {
        opacity: 1;
        left: 20px;
        top: 100px;
    }
}

@-webkit-keyframes circle2 {
    0% {
        opacity: 0;
        left: 180px; 
        top: -80px;
    }
    100% {
        opacity: 1;
        left: 180px; 
        top: 20px;
    }
}
@keyframes circle2 {
    0% {
        opacity: 0;
        left: 180px; 
        top: -80px;
    }
    100% {
        opacity: 1;
        left: 180px; 
        top: 20px;
    }
}

@-webkit-keyframes circle3 {
    0% {
        opacity: 0;
        right: 80px;
        bottom: 80px;
    }
    100% {
        opacity: 1;
        right: 80px;
        bottom: 20px;
    }
}
@keyframes circle3 {
    0% {
        opacity: 0;
        right: 80px;
        bottom: 80px;
    }
    100% {
        opacity: 1;
        right: 80px;
        bottom: 20px;
    }
}

/* 지도 베이스 애니메이션 */
@keyframes base {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@-webkit-keyframes base {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* 마우스 애니메이션 */
@-webkit-keyframes intro {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes intro {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}