 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <div class="comSubTitle">
                <h3>정보입력</h5>
            </div>
            <div class="cptSubTop">
                <div class="subTopTxt">
                    <p class="subTitle">광고주님의 업체 정보를 입력해주세요.</p>
                </div>
            </div>
            
            <div class="cptModeSuggest">
                <div class="modeSuggestBox">
                    <p class="modeAsk">1. 광고하실 지역은 어디신가요?</p>
                    <ul class="modeList">
                        <li>매장인근 (0KM ~ 1KM ) 광고대상수 : 0000</li>
                        <li>매장인근 (1KM ~ 3KM ) 광고대상수 : 0000</li>
                        <li>매장인근 (3KM ~ 5KM ) 광고대상수 : 0000</li>
                        <li>매장인근 (5KM ~ 10KM ) 광고대상수 : 0000</li>
                    </ul>
                </div>
                <div class="modeSuggestBox">
                    <p class="modeAsk">2. 광고는 언제부터 송출하고 싶은신가요?</p>
                    <div class="cptForm">
                        <div class="frmIpt withBtn">
                            <div class="iptArea">
                                <input type="text" placeholder="2024-10-01 ~ 2024-10-31 (31일간)" id="ipt05" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd date">기간 설정</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modeSuggestBox">
                    <p class="modeAsk">3. 광고비용은 얼마정도 생각하고 계신가요?</p>
                    <ul class="modeList">
                        <li>20만원</li>
                        <li>30만원</li>
                        <li>50만원</li>
                        <li>직접입력</li>
                    </ul>
                </div>
                <div class="cptBtnForm d-flex gap10 excpBtn"> <!--가로정렬 필요의 경우 d-flex 클래스 사용-->
                    <!--default-->
                    <button type="button" class="btn prmy">다음</button>
                </div>    
            </div>

            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>