 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <!-- tab 와이드 버전2 -->
            <div class="modTabWide tutorialWrap">
                <ul class="tabMenu">
                    <li class="tabItem"><button class="tabName active" title="선택 된 탭메뉴" onclick="showTab(0)">광고만들기</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(1)">메뉴1</button></li>
                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(2)">메뉴2</button></li>
                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(3)">메뉴3</button></li>
                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(4)">메뉴4</button></li>
                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(5)">메뉴5</button></li>
                </ul>
                <div class="tabContainer">
                    <div class="tabCont active">
                        <div class="cptNoData">
                            <div class="noImg">
                                <img src="../../images/common/ico_warning.svg" alt="경고 아이콘">
                            </div>
                            <p class="noTxt">진행중인 이벤트가 없습니다.</p>
                        </div>
                    </div> 
                    <div class="tabCont">
                        탭내용2
                    </div>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>