 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer tutorial" id="container">
            <!-- 메인 콘텐츠 영역 -->

            <div class="modPopup type02 fullLayout popOpen" id="clause04">
                <div class="popupBox">
                    <!-- 팝업 타이틀 -->
                    <div class="popTitArea tutorialTit">
                        <div class="tit">튜토리얼</div>
                        <button class="closeBtn" onclick="popClose('clause04')"><img src="../../images/common/ico_pop_close.svg" alt="팝업 닫기"></button>
                    </div>
                    <!-- 팝업 컨텐츠 -->
                    <div class="popContArea">
                        
                        <!-- tab -->
                        <div class="tutorialTabWrap tutorialTabWrap1">
                            <div class="modTabWide tutorialTab">

                                <!-- kb 2025-01-13 수정 -->
                                <!-- 윈도우 새창 탭메뉴 -->
                                <div class="ttTabMenu1Wrap">
                                    <ul class="tabMenu ttTabMenu1">
                                        <li class="tabItem"><button class="tabName active" title="선택 된 탭메뉴" onclick="showTab8(0)">광고 시작하기</button></li> 
                                        <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab8(1)">광고진행</button></li>
                                    </ul>
                                </div>
                
                                <!-- <div class="clickWrap">
                                    <div class="prevClick"><img src="../../images/common/ico_arr03.svg" alt=""></div>
                                    <div class="nextClick"><img src="../../images/common/ico_arr03.svg" alt=""></div>
                                </div> -->
                
                                <div class="tabContainer ttContainer">
                
                                    <!-- 광고 시작하기 -->
                                    <div class="tabCont active">
                                        <!-- tab2 -->
                                        <div class="modTab ttTabDepth2">
                                            <div class="tabInner">
                                                <ul class="tabMenu ttTabMenu2">
                                                    <li class="tabItem"><button class="tabName active" title="선택 된 탭메뉴" onclick="showTab5(0)">AI로 광고 만들기</button></li> 
                                                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab5(1)">템플릿으로 광고 만들기</button></li>
                                                    <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab5(2)">내 파일로 광고 만들기</button></li>
                                                </ul>
                                            </div>
                                            <div class="tabContainer">
                                                <!-- AI로 광고 만들기 -->
                                                <div class="tabCont active">
                                                    <div class="tutorialList">
                                                        <!-- 개발사 진행 -->
                                                        개발사 진행
                                                    </div>
                                                </div> 
                                                <!-- 템플릿으로 광고 만들기 -->
                                                <div class="tabCont">
                                                    <div class="tutorialList">
                                                        <ul>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img01.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 1</span>
                                                                    <p class="tit">템플릿 영상</p>
                                                                    <p class="desc">
                                                                        1. 템플릿 영상에서 '영상 만들기' 버튼을 클릭합니다. ​<br>
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img02.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 2</span>
                                                                    <p class="tit">광고명 입력</p>
                                                                    <p class="desc">
                                                                        1. 광고명을 입력하고'등록' 버튼을 클릭합니다.​
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img03.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 3-1</span>
                                                                    <p class="tit">템플릿 선택</p>
                                                                    <p class="desc">
                                                                        1. '추천 템플릿'을 선택합니다.(최대 5개까지만 선택 가능합니다)​ <br>
                                                                        2. '내게 맞는 템플릿 검색' 버튼을 클릭합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img04.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 3-2</span>
                                                                    <p class="tit">템플릿 선택(검색 결과)</p>
                                                                    <p class="desc">
                                                                        1. 템플릿을 선택합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img05.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 4-1</span>
                                                                    <p class="tit">템플릿 선택</p>
                                                                    <p class="desc">
                                                                        1. '광고효과별 템플릿'을 선택합니다.​ <br>
                                                                        2. '상세검색'을 선택한 후 '필터' 또는 '광고시간'을 선택합니다. ​<br>
                                                                        3. '내게 맞는 템플릿 검색' 버튼을 클릭합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img06.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 4-2</span>
                                                                    <p class="tit">템플릿 선택(검색 결과)</p>
                                                                    <p class="desc">
                                                                        1. 템플릿을 선택합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img07.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 5-1</span>
                                                                    <p class="tit">템플릿 선택</p>
                                                                    <p class="desc">
                                                                        1. '업종별 템플릿'을 선택합니다.​ <br>
                                                                        2. '상세검색'을 선택한 후 '필터' 또는 '광고시간'을 선택합니다. ​<br>
                                                                        3. '내게 맞는 템플릿 검색' 버튼을 클릭합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img08.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 5-2</span>
                                                                    <p class="tit">템플릿 선택(검색 결과)</p>
                                                                    <p class="desc">
                                                                        1. 템플릿을 선택합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial2_img09.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 6</span>
                                                                    <p class="tit">템플릿 미리보기</p>
                                                                    <p class="desc">
                                                                        1. '확인' 버튼 클릭 시 템플릿 구성화면으로 이동합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- 내 파일로 광고 만들기 -->
                                                <div class="tabCont">
                                                    <div class="tutorialList">
                                                        <ul>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial3_img01.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 1</span>
                                                                    <p class="tit">내 파일로 광고 만들기</p>
                                                                    <p class="desc">
                                                                        1. 내 컴퓨터(파일 불러오기)를 선택합니다.​ <br>
                                                                        2. 버튼을 누릅니다  
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial3_img02.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 2</span>
                                                                    <p class="tit">내 컴퓨터에서 불러오기</p>
                                                                    <p class="desc">
                                                                        1. 업로드한 영상 파일을 분석중입니다.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial3_img03.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 3</span>
                                                                    <p class="tit">파일 등록 완료</p>
                                                                    <p class="desc">
                                                                        1. '영상등록' 버튼을 클릭합니다.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div> 
                
                                    <!-- 광고진행 -->
                                    <div class="tabCont">
                                        <!-- tab2 -->
                                        <div class="modTab ttTabDepth2">
                                            <div class="tabContainer">
                                                <div class="tabCont active">
                                                    <div class="tutorialList">
                                                        <ul>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img01.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 1</span>
                                                                    <p class="tit">제작 중</p>
                                                                    <p class="desc">
                                                                        1. '설정' 버튼을 클릭합니다. ​<br>
                                                                        2. '영상 제목 변경하기' 또는 영상을 '삭제' 할 수 있습니다. <br>
                                                                        3. 광고명을 변경할 수 있습니다. ​​<br>
                                                                        4. '소재 완성하기'를 선택합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img02.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 2</span>
                                                                    <p class="tit">제작 완료</p>
                                                                    <p class="desc">
                                                                        1. 영상을 클릭하면 영상 미리보기를 할 수 있습니다.​<br>
                                                                        2. '성우 추가하기' 버튼을 클릭합니다​<br>
                                                                        3. 캐릭터, 내용 등 추가할 수 있습니다. ​<br>
                                                                        4. '결제하러가기'를 클릭합니다.  
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img03.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 3</span>
                                                                    <p class="tit">결제대기</p>
                                                                    <p class="desc">
                                                                        1. '결제하러가기'를 클릭합니다.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img04.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 4</span>
                                                                    <p class="tit">심사중</p>
                                                                    <p class="desc">
                                                                        1. 심사는 3~5일 이후 다음 단계로 진행됩니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img05.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 5</span>
                                                                    <p class="tit">심사반려</p>
                                                                    <p class="desc">
                                                                        1. '반려사유 보기' 버튼을 클릭합니다. ​<br>
                                                                        2. '수정하기' 버튼 클릭 시 수정이 필요한 화면으로 이동합니다.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img06.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 6</span>
                                                                    <p class="tit">광고집행</p>
                                                                    <p class="desc">
                                                                        1. '광고효과보기'를 클릭합니다. <br>  
                                                                        2. '상세정보' 내용을 확인합니다.<br>
                                                                        3. '리포트' 탭을 선택하여 리포트 내용을 확인합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="thumb">
                                                                    <img src="../../images/sub/tutorial4_img07.png" alt="">
                                                                </div>
                                                                <div class="stepBox">
                                                                    <span class="flag">Step 7</span>
                                                                    <p class="tit">광고집행 종료</p>
                                                                    <p class="desc">
                                                                        1. '광고효과보기'를 클릭합니다. <br>  
                                                                        2. '상세정보' 내용을 확인합니다.<br>
                                                                        3. '리포트' 탭을 선택하여 리포트 내용을 확인합니다. 
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                                <!--// kb 2025-01-13 수정 -->
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->
            

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
<%- include('../ejs/moBar.ejs', { }) %>