 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer galleryLayout" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <div class="comSubTitle">
                <h5>갤러리</h5>
            </div>
            <div class="cptSubTop galleryTitle">
                <div class="subTopTxt">
                    <h3>이달의 광고</h3>
                </div>
                <div class="swiper-button">
                    <a href="#none" class="swiper-button-prev03"></a>
                    <a href="#none" class="swiper-button-next03"></a>
                </div>
            </div>
            <div class="galleryBoard">
                <div class="monthAd">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="locationAd">
                <div class="locationAdTit">
                    <p class="title">
                        <span class="location">중구</span> 인기 광고
                        <span class="addDetail">서울특별시 중구 퇴계로</span>
                    </p>

                    <div class="swiper-button">
                        <a href="#none" class="swiper-button-prev04"></a>
                        <a href="#none" class="swiper-button-next04"></a>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adListArea">
                <div class="adFilterCov">
                    <ul>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil01" checked>
                                <label for="fil01">전체</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil02">
                                <label for="fil02">전통시장</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil03">
                                <label for="fil03">외식업</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil04">
                                <label for="fil04">카페/디저트</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil05">
                                <label for="fil05">패스트푸드</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil06">
                                <label for="fil06">마트/신선식품</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil07">
                                <label for="fil07">PC/통신기기/가전</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil08">
                                <label for="fil08">기타 도/소매업</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil09">
                                <label for="fil09">패션/잡화</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil10">
                                <label for="fil10">미용/뷰티</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil11">
                                <label for="fil11">학원/교육</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil12">
                                <label for="fil12">스포츠/피트니스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil13">
                                <label for="fil13">취미/레저</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil14">
                                <label for="fil14">자동차관리</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil15">
                                <label for="fil15">하우징/인테리어</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil16">
                                <label for="fil16">기타서비스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil17">
                                <label for="fil17">공공서비스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil18">
                                <label for="fil18">브랜드</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil19">
                                <label for="fil19">분양광고</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="adSearchCov">
                    <div class="cptBtnForm">
                        <button type="button" class="btn scnd"><span>지역 설정</span></button>
                    </div>

                    <div class="cptForm">
                        <div class="frmIpt">
                            <input type="text" placeholder="지금 우리동네에 나오는 광고검색">
                            <button type="button" class="searchIcon"><span class="hidden">검색</span></button>
                        </div>
                    </div>
                </div>

                <div class="listCov">
                    <ul>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg"><!--영상재생 온클릭 추가 필요-->
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comPagination">
                <a href="#" class="start"></a>
                <a href="#" class="prev"></a>
                <ul class="numList">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
                <a href="#" class="next">
                    <img src="../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                </a>
                <a href="#" class="end"></a>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>