<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptFooter">
    <div class="footerArea">
        <div class="footTop">
            <div class="topArea">
                
            </div>
        </div>
        <div class="footBody">
            <div class="bodyArea">
                
            </div>
        </div>
        <div class="footBtm">
            <div class="btmArea">
                
            </div>
        </div>
    </div>
</div>