<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptGnb">
	<div class="gnbArea">
		<div class="gnbTop">
			
		</div>
		<div class="gnbBody">
			
		</div>
		<div class="allMenu"></div>
	</div>
</div>

