<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptHeader">
	<div class="gnbArea">
		<div class="leftArea">
			<div class="logo">
				<a href="#none"><img src="../../images/common/btv_logo.png" alt=""></a>
			</div>
			<!--2024.09.04 pc menu-->
			<div class="menu pcHeader">
				<ul class="headerMenu">
					<!--2024.09.04 로그인 전 후-->
					<li>
						<a href="#none">광고만들기</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">서비스 소개</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">갤러리</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">고객센터</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">이벤트</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<!-- 2024.09.04 로그인 후 only !!!! -->
					<li class="afterLoginMenu">
						<a href="#none">나의광고</a>
					</li>
				</ul>
			</div>
			<!--2024.09.04 mobile menu-->
			<div class="menu moHeader">
				<ul class="headerMenu">
					<!--2024.09.04 로그인 전 후-->
					<li>
						<a href="#none">광고만들기</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">서비스 소개</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">갤러리</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">고객센터</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<li>
						<a href="#none">이벤트</a>
						<ul class="head2depth">
							<li><a href="#none">2depth</a></li>
							<li><a href="#none">2depth</a></li>
						</ul>
					</li>
					<!-- 2024.09.04 로그인 후 only !!!! -->
					<li class="afterLoginMenu">
						<a href="#none">나의광고</a>
					</li>
				</ul>
				<div class="loginArea">
					<ul>
						<!--2024.09.04 로그인 전-->
						<li><button type="button">로그인</button></li>
						<li><button type="button">로그인</button></li>
						<!--2024.09.04 로그인 후-->
						<li><button type="button">마이페이지</button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="rightArea pcMenu">
			<div class="cptBtnForm"> <!--가로정렬 필요의 경우 d-flex 클래스 사용-->
				<!--2024.09.04 로그인 전-->
				<button type="button" class="btn scnd">로그인</button>
				<button type="button" class="btn scnd">회원가입</button>
				<!--2024.09.04 로그인 후-->
				<button type="button" class="btn scnd">마이페이지</button>
			</div>
		</div>
	</div>
</div>

