<%
var url = locals.url ? locals.url : '../../';
%>
<!--quick menus structure-->
<div class="quickMenu">
	<div class="qmInner">
		<ul>
			<li>
				<span class="qmIcon">quickIcon</span>
				<span class="qmTxt">영상제작 체험관<br>바로가기</span>
			</li>
			<li>
				<span class="qmIcon">quickIcon</span>
				<span class="qmTxt">광고비 알아보기</span>
			</li>
			<li class="consultQuick">
				<span>상담<br>예약하기</span>
				<span>9:00~18:00</span>
			</li>
		</ul>
	</div>
</div>
<!--floating menu structure-->
<div class="quickFloat">
	<ul>
		<li class="chatbot">
			<a href="#none">
				<span class="hidden">챗봇연결</span>
			</a>
		</li>
		<li class="topBtn">
			<a href="#none">
				<span>TOP</span>
			</a>
		</li>
	</ul>
</div>

