<%
var url = locals.url ? locals.url : '../../';
%>
<div class="pageLocationBar">
    <ul>
        <li class="active"><a href="#none">제작 중<br><span class="cnt">00</span></a></li>
        <li><a href="#none">제작 완료<br><span class="cnt">00</span></a></li>
        <li><a href="#none">결제 대기<br><span class="cnt">00</span></a></li>
        <li><a href="#none">심사중<br><span class="cnt">00</span></a></li>
        <li><a href="#none">심사반려<br><span class="cnt">00</span></a></li>
        <li><a href="#none">광고집행<br><span class="cnt">00</span></a></li>
        <li><a href="#none">광고집행종료<br><span class="cnt">00</span></a></li>
    </ul>
    <div class="whiteBg"></div>
</div>